<div class="bg">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-6">
        <div class="signin-div">
          <div class="try" style="width: 90%; height: 667px">
            <div class="acco-img">
              <img class="img-acco" src="../../../assets/logo-sm.jpg" alt="" />
            </div>
            <div class="card signin-card">
              <div class="card-body">
                <h5 class="card-title text-muted">Please Sign In</h5>

                <div class="google-btn" (click)="signInWithGoogle()">
                  <div class="google-icon-wrapper">
                    <img
                      class="google-icon"
                      src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"
                    />
                  </div>
                  <a role="button" class="btn-text sign-text"
                    >Sign in with google</a
                  >
                </div>
              </div>
            </div>
            <div class="powered-by">
              <h6>Powered By</h6>
              <h3>i-Tracker</h3>
              <p>&copy; 2022 Accolite Digital Pvt. Ltd</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
