<div class="container" id="top">
  <div class="row">
    <div class="col-6">
      <div class="card" style="width: 17rem">
        <div class="card-header">
          {{ heading }}
          <fa-icon
            [icon]="faCalendar"
            [styles]="{ float: 'right' }"
            size="2x"
          ></fa-icon>
        </div>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="container">
                  <div style="width: 100%">
                    <canvas
                      id="myChart"
                      width="1100"
                      height="650"
                      #mychart
                    ></canvas>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <p class="card-title">{{ subhead }}</p>
                <p class="card-title">{{ per }}</p>
                <!-- <div class="circularbox-outer"> <p class="circularbox">Update</p></div> -->
              </div>
            </div>
          </div>

          <!-- <h5 class="card-title">Card title</h5>
  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        </div>
      </div>
    </div>
  </div>
</div>
